@font-face {
  font-family: Livvic - Semi Bold;
  src: url(../assets/font/Livvic/Livvic-SemiBold.ttf);
}

@font-face {
  font-family: Livvic - Bold;
  src: url(../assets/font/Livvic/Livvic-Bold.ttf);
}

@font-face {
  font-family: Livvic - Medium Italic;
  src: url(../assets/font/Livvic/Livvic-MediumItalic.ttf);
}
