.service-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #012f34;
}

.service-desc {
  color: #ffffff;
  font-family: Livvic - Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  width: 50%;
  margin-left: 7rem;
}

.rec-red {
  position: relative;
  margin: 2rem 0;
  left: 120px;
}

.service-right {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-gap: 1rem;
}

.service-title {
  color: #f67e7e;
  font-family: Livvic - Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.service-content {
  margin: 1rem 0;
}
