.btn {
  display: inline-block;
  background: #fff;
  color: #002529;
  padding: 2rem 0.5rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  border-radius: 20px;
}
